flask==2.2.5
flask_sqlalchemy==3.0.5
flask_login==0.6.2
werkzeug==2.2.3
SQLAlchemy==2.0.21
Jinja2==3.1.2
flask_mail==0.9.1
python-dotenv==1.0.0
pandas==2.0.3
openpyxl==3.1.2
gunicorn==21.2.0
PyJWT==2.8.0
click==8.1.7
itsdangerous==2.1.2
bleach==6.0.0  # Add the missing bleach dependency
